*{
  text-decoration: none;
}
.container{
  width: 90%;
  margin: 0 auto;
}
body{
  background: black;
  font-family: 'Open Sans', sans-serif;
}
button{
  transition: .5s;
  &:hover{
    transform: scale(1.1);
  }
}
