@import "mixin";
@import "reset'";


#header{
  .header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &--group{
      display: flex;
      align-items: center;
      img{
        margin: 0 10px;
      }
      h1{
        font-weight: 600;
        font-size: 22.5455px;
        line-height: 31px;
        color: #3A68B8;
      }
    }
    &--logo{
      display: flex;
      align-items: center;
      a{
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;

        /* #FFFFFF */
        margin: 0 30px;
        color: #FFFFFF;

      }
    }
    button{
      font-weight: 600;
      font-size: 16px;
      color: #FFFFFF;
      background: #3A68B8;
      border-radius: 5px;
      padding: 10px 20px;
    }
  }
}

#hero{
  .hero{
    &--group{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      &__logo{
        h1{
          font-weight: 600;
          font-size: 18px;
          text-transform: uppercase;
          color: #3A68B8;
        }
        h2{
          font-weight: 800;
          font-size: 55px;
          line-height: 130%;
          color: #FFFFFF;
        }
        p{
          font-weight: 600;
          font-size: 18px;
          line-height: 160%;
          color: #FFFFFF;
        }
        &--block{
          display: flex;
          align-items: center;
          button{
            margin-right: 20px;
            font-weight: 600;
            font-size: 20px;
            background: #3A68B8;
            border-radius: 5px;
            padding: 10px 20px;
            border: none;
            display: flex;
            align-items: center;
            color: #FFFFFF;
          }
        }

      }
    }
    &--put{
      display: flex;
      align-items: center;
      justify-content: space-around;
    }


  }
}

#navbar{
  padding: 50px 0;
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &--group{
      h1{
        font-weight: 700;
        font-size: 40px;
        line-height: 130%;
        color: #FFFFFF;
      }
p{
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}
      button{
        font-weight: 600;
        font-size: 16px;
        padding: 10px 20px;
        color: #FFFFFF;
        background: #3A68B8;
        border-radius: 5px;
      }
    }
  }
}

#blocks{
  padding: 50px 0;
  .blocks{
    &--group{
      display: flex;
      align-items: center;
      justify-content: space-around;
      &__logo{
        display: flex;
        padding: 40px 20px;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, #cc8484 115.68%);
        backdrop-filter: blur(100px);
        border-radius: 10px;
        h1{
          font-weight: 700;
          font-size: 25px;
          line-height: 125%;
          text-align: center;
          color: #FFFFFF;
        }
        p{
          font-weight: 600;
          font-size: 16px;
          line-height: 160%;
          text-align: center;
          color: #FFFFFF;
        }

      }
      &__logo1{
        display: flex;
        padding: 20px 20px;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, #cc8484 115.68%);
        backdrop-filter: blur(100px);
        border-radius: 10px;
        h1{
          font-weight: 700;
          font-size: 25px;
          line-height: 125%;
          text-align: center;
          color: #FFFFFF;
        }
        p{
          font-weight: 600;
          font-size: 16px;
          line-height: 160%;
          text-align: center;
          color: #FFFFFF;
        }

      }
      &__logo2{
        display: flex;
        padding: 20px 20px;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, #cc8484 115.68%);
        backdrop-filter: blur(100px);
        border-radius: 10px;
        h1{
          font-weight: 700;
          font-size: 25px;
          line-height: 125%;
          text-align: center;
          color: #FFFFFF;
        }
        p{
          font-weight: 600;
          font-size: 16px;
          line-height: 160%;
          text-align: center;
          color: #FFFFFF;
        }

      }
    }
  }
}

#what{
  margin: 100px 0;
  .what{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &--logo{
      h1{
        font-weight: 700;
        font-size: 40px;
        line-height: 130%;
        color: #FFFFFF;
      }
      p{
        font-weight: 600;
        font-size: 16px;
        line-height: 160%;
        color: #FFFFFF;
        opacity: 0.7;
      }
    }
  }
}

#footer{
  padding: 50px 0;
  .footer{
    display: flex;
    justify-content: space-evenly;
    &--group{
      display: flex;
      flex-direction: column;
      h1{
        font-weight: 600;
        font-size: 15.9627px;
        color: #3A68B8;
      }
      p{
        font-weight: 450;
        font-size: 14px;
        line-height: 18px;

        /* #FFFFFF */

        color: #FFFFFF;

        opacity: 0.6;
      }
      a{
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height */
        margin: 10px 0;

        /* #FFFFFF */

        color: #FFFFFF;
      }
    }
    &--logo{
      h1{
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
      }
      h2{
        font-weight: 450;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
        opacity: 0.6;
      }

    }
    &--put{
      h1{
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
      }
      p{
        font-weight: 450;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
        opacity: 0.6;
      }
      a{
        font-weight: 500;
        font-size: 14px;
        color: #FFFFFF;
      }
      &__logo{
        display: flex;
        align-items: center;
        ion-icon{
          margin: 10px 10px;
          color: #FFFFFF;
          opacity: 0.6;
        }

      }
    }
  }
}